{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "cwd": "babelrc",
      "alias": {
        "components": "./src/components",
        "configs": "./src/configs",
        "pages": "./src/pages",
        "reducers": "./src/reducers",
        "sagas": "./src/sagas",
        "test": "./test"
      }
    }]
  ]
}
